.form {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.form label {
    width: 80%;
    padding: 1rem;
}
.form label input {
    width: 60%;
    margin-left: 1rem;
    border-radius: 3px;
    padding: 0.5rem;
}
.form input {
    width: 60%;
    margin: 0 auto;
    border-radius: 3px;
    padding: 0.5rem;
}